<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <title>菜单管理</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
  <link rel="stylesheet" th:href="@{/plugins/bootstrap-table/css/bootstrap-table.min.css}"/>
  <link rel="stylesheet" th:href="@{/css/layui.css}" media="all"/>
  <link rel="stylesheet"th:href="@{/css/global.css}" media="all">
  <link rel="stylesheet" th:href="@{/plugins/font-awesome/css/font-awesome.min.css}">
  <link th:href="@{/plugins/jquery-treegrid/css/jquery.treegrid.css}" rel="stylesheet"/>

</head>
<style>
  .treegrid-tbody tr td{
    text-align:center;
  }
</style>
<body>
<div class="admin-main">

  <form  class="layui-form layui-form-pane " onsubmit="javascript:return false;">
    <div class="layui-form-item" style="margin-bottom:0px;">
    <label class="layui-form-label">操作</label>
      <div class="layui-input-inline">
      <select name="status" id="status" >
        <option value="">全部</option>
        <option th:each="state : ${T(com.home.enums.BoardEnums).values()}" th:value="${state.key}" th:text="${state.desc}"></option>
      </select>
    </div>
    </div>
    <div class="layui-form-item" style="margin-bottom:0px;">
    <label class="layui-form-label">手机号码</label>
    <div class="layui-input-inline">
      <input type="text" name="telphone"  id="telphone"  placeholder="请选择输入手机号码"  class="layui-input"  />

    </div>
    </div>
    <div class="layui-form-item" style="margin-bottom:0px;">
    <button type="button" id="btn_query"  class="layui-btn layui-btn">
      <i class="fa fa-search" aria-hidden="true"></i>
    </button>
    </div>
  </form>
  <div class="row">
    <div class="col-sm-12">
      <div  id="toolbar" class="layui-btn-group">
        <button class="layui-btn layui-btn-small" id="btn_edit">
          处理
        </button>

      </div>
      <table id="userTable" style="table-layout:fixed" class="table table-condensed table-bordered table-hover table-striped">

      </table>
    </div>

  </div>
</div>
<script  th:inline="javascript">
  /*<![CDATA[*/
  ctxPath = /*[[@{/}]]*/ '';
  /*]]>*/

  console.info(ctxPath);
</script>　
<script type="text/javascript" th:src="@{/plugins/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/bootstrap-table/bootstrap-table-mobile.min.js}"></script>
<script type="text/javascript"th:src="@{/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js}"></script>
<script th:src="@{/plugins/jquery-treegrid/js/jquery.treegrid.min.js}"></script>
<script th:src="@{/plugins/jquery-treegrid/js/jquery.treegrid.bootstrap3.js}"></script>
<script th:src="@{/plugins/jquery-treegrid/extension/jquery.treegrid.extension.js}"></script>
<script type="text/javascript"th:src="@{/layui.all.js}"></script>
<script th:src="@{/drp/board/list.js}" th:inline="javascript"></script>

<script>


</script>
</body>

</html>
