<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.home.mapper.MessageBoardMapper">
  <resultMap id="BaseResultMap" type="com.home.entity.MessageBoard">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="tel_phone" jdbcType="VARCHAR" property="telphone" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="crt_time" jdbcType="TIMESTAMP" property="crtTime" />
    <result column="crt_user" jdbcType="VARCHAR" property="crtUser" />
    <result column="crt_name" jdbcType="VARCHAR" property="crtName" />
    <result column="crt_host" jdbcType="VARCHAR" property="crtHost" />
    <result column="upd_time" jdbcType="TIMESTAMP" property="updTime" />
    <result column="upd_user" jdbcType="VARCHAR" property="updUser" />
    <result column="upd_name" jdbcType="VARCHAR" property="updName" />
    <result column="upd_host" jdbcType="VARCHAR" property="updHost" />
    <result column="del_flg" jdbcType="INTEGER" property="delFlg" />
    <result column="message" jdbcType="LONGVARCHAR" property="message" />
    <result column="reply" jdbcType="VARCHAR" property="reply" />

  </resultMap>
</mapper>